---
import metadata from "@data/metadata";
import Svg from '@components/modules/Svg.astro';

export interface Props {
  pageId: string;
}

const { pageId } = Astro.props;

const gh = `${metadata.global.github}${pageId}.ts`
---

<header class='l_header'>
  <div class='l_header_logo'>
    <a href='https://jws.work/' class='u_flash'>
      <span class='u_flash_item'>
        <Svg svgId='logo' width={88} height={24} alt='JWS' />
      </span>
    </a>
  </div>
  <div class='l_header_gh'>
    <a class='u_flash' href={gh} target='_blank' rel='noopener noreferrer'>
      <span class='u_flash_item'>
        <Svg
          svgId={`logo_gh`}
          width={26}
          height={26}
          alt='GitHub'
        />
      </span>
    </a>
  </div>
</header>
