@use '../global/index' as *;
@use 'include-media/dist/_include-media' as *;

.l_footer {
  position: absolute;
  bottom: pc(20);
  color: #fff;
  mix-blend-mode: difference;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
